{% extends 'base.html' %}

{% block head %}
<title>Add a wish</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Add a wish :D </h1>
    {% if tasks|length < 1 %}
    <h4 style="text-align: center">No Wishes!!Create one below!</h4>
    {% else %}
    <table>
        <tr>
            <th>Wishes</th>
            <th>Added</th>
            
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.content }}</td>
                <td>{{ task.date_created.date() }}</td>
               
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    <div class="form">
        <form action="/" method="POST">
            <input type="text" name="content" id="content">
            <input type="submit" value="Add a wish">
        </form>
    </div>
</div>
{% endblock %}